body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

.slightContainer {
  height: 75vh;
}

.box-gallery {
  top: 58px;
  margin-bottom: 70px;
  z-index: -1;
}

.app_body {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dropdown-menu {
  max-width: 50px;
  min-width: 100px;
  width: 100px !important;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 35px;
}

.inp {
  height: 23px;
  font-size: 12px;
  width: 90px;
  font-style: italic;
}

.btn-check:focus + .btn, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

dropdown-item a:focus {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.btnCat:hover {
  color: #939393 !important;
}

.btnFind {
  border-radius: 2px;
  margin-top: 7px;
  width: 42px;
  height: 22px;
  font-size: 13px;
  color: white;
  background-color: #b73c07;
  border: none;
}

.btnFind:hover {
  color: #cccccc;
}

option {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif !important;
  font-size: 13px !important;
  font-weight: 300 !important;
}

select {
  font-size: 13px !important;
  font-family: "Oswald", sans-serif !important;
  color: #404040 !important;
  background: none;
  border: none;
  outline: none;
}

.dd-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.dd-header:focus {
  outline: none;
}

.dd-header_title {
  font-size: 13px !important;
}

.dd-list {
  position: absolute;
  left: 4px;
  list-style-type: none;
  background: #fff;
  max-width: 50px;
  height: 401px !important;
  overflow-y: scroll;
  min-width: 107px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  z-index: 1000;
  text-align: left;
}

.dd-list button {
  width: 117px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #404040;
  background-color: transparent;
  /* padding: .25rem 0.5rem; */
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dd-list button span {
  font-size: 13px;
  margin-right: 5px;
}

/* .dd-list-item{
    width:auto;
} */
.dd-header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dd-header_title--bold {
  width: auto;
  font-size: 13px;
}

.dd-header_action p {
  margin-left: -11px;
  color: #404040;
}

.x {
  position: relative;
  right: -97px;
  vertical-align: left;
  margin-bottom: 0rem !important;
}

.spanX {
  position: absolute;
  text-align: right;
}

.y {
  position: relative;
  right: -83px;
  vertical-align: left;
  margin-bottom: 0rem !important;
}

.spanY {
  position: absolute;
  text-align: right;
}

.clear {
  border: none;
}

/* @include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */
.footer {
  width: 100%;
  height: 46px;
  background-color: #404040;
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  z-index: 9999;
}

.footer ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

.btnFooter {
  border-style: none;
  background-color: transparent;
  color: #e7e7e7;
  font-family: "Oswald", sans-serif;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
}

.btnFooter a {
  font-style: normal;
  font-size: 14px;
  color: white;
}

.btnFooter a:hover {
  font-size: 14px;
  color: #cccccc;
  text-decoration: none;
}

.find {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: whitesmoke;
  /*  @include flexCenter(row, rgb(245, 245, 245)); */
  z-index: 9999;
}

.btnFindDiv {
  margin-left: 9px;
}

.lingua {
  width: 30px;
}

.dropdown-item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0rem 0rem !important;
  color: #404040 !important;
}

.dropdown-menu.show {
  min-width: 126px !important;
}

.dropdown-toggle {
  font-size: 13px;
  color: #404040;
}

#btnGroupDrop {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 13px;
  margin-left: 10px;
}

#btnGroupDrop:hover {
  color: #939393;
  text-decoration: none;
}

.dropdown-toggle:hover {
  font-size: 13px;
  color: #404040;
}

.cc {
  -webkit-transform: translate(128.286px, 36.4286px) !important;
          transform: translate(128.286px, 36.4286px) !important;
}

.dropdown-menu {
  font: 13px;
}

a {
  font-size: 13px;
  color: #111111;
}

a:hover {
  color: #2c2c2c;
}

.dropdown-menu.show {
  max-width: 50px;
  min-width: 82px;
  width: 50px !important;
}

.login {
  margin-top: 8px;
  height: 23px;
  margin-left: 285px;
}

.log a {
  font-family: "Oswald", sans-serif;
  color: #404040;
}

.log a:hover {
  color: #939393;
  text-decoration: none;
}

.btn-group {
  position: absolute;
  right: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.lingua.show {
  text-align: center;
  min-width: 10px !important;
  max-width: 25px !important;
}

.sidebar {
  padding: 40px 10px;
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

/* @include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */
.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 25px;
  background-color: #cccccc;
  -webkit-box-shadow: 0px 5px 7px -7px #939393;
          box-shadow: 0px 5px 7px -7px #939393;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.post_image > img {
  width: 50%;
}

.post_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.post_avatar {
  margin-right: 10px;
}

.post_topInfo > h3 {
  font-size: medium;
}

.post_topInfo > p {
  font-size: small;
  color: #404040;
}

.post_bottom {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px 25px;
}

.post_image > img {
  width: 100%;
}

.post_options {
  padding-top: 10px;
  border-top: 1px solid #939393;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: medium;
  color: #404040;
  cursor: pointer;
  padding: 15px;
}

.post_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post_option > p {
  margin-left: 10px;
}

.post_option:hover {
  background-color: #404040;
  border-radius: 10px;
}

/* @include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */
.messageSender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 7px -7px #939393;
          box-shadow: 0px 5px 7px -7px #939393;
  width: 100%;
}

.messageSender_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 45px;
  padding: 15px;
}

.messageSender_top > form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messageSender_top > form {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: lightgray;
}

.messageSender_input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=mainStyle.css.map */