@mixin flexCenter($direction, $background) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
    background: $background;
}

@mixin flexCenterOnly() {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* @include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */