@import "variables.scss";

button,
select {
    height: 2em;

    font-size: 0.85rem;
    background-color: $bgColor;
    color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 4px;
    cursor: pointer;
}

button:focus,
select:focus {
    outline: none;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .25em .75em;
    text-align: center;
}

select {
    padding: .25em .75em;
}

.today {
    color: $mainColor;
    border: 1px solid $mainColor;
}

.selected {
    background-color: $mainColor;
}