@import 'variables';

#contact{
    position:fixed;
    top: 73px;
    margin: auto;
    left: 0px;
    right: 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgColor;
    font-family: $fontFamily;
    font-size: 13px;
    // box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    height: auto;
    z-index: 999;
    &h3{
        font-weight: 400;
    }
    .form-group{
        margin: 1rem;
        width: 35vw;

        .form-control{
            width: 100%;
                }

    }


@media screen and (max-width:768px){
    #contact{
        width: 90vw;
        left: 5%;
        & h3{
            font-size: 1rem;
            margin-top: .75rem;
        }
       & .form-group{
           margin: 0.5rem auto;
            width: 60vw;
            // border: 2px solid red;
        }
    }
    // @media only screen and (max-width: 537px){
    //     width: 80%;
    //   }
      @media only screen and (max-width: 763px){
          top: 92px;
      }
    }
}