.dropdown-menu {
  max-width: 50px;
  min-width: 100px;
  width: 100px !important;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* align-items: stretch; */
  /* height: 35px; */
  /* @media only screen and (max-width: 841px) {
    margin-top: 16px;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    height: auto; 
  }*/
}
.countryAndRegion {
  @media only screen and (max-width: 841px) {
    display: flex;
    flex-direction: column;
    align-content: felx-start;
      }
}
.skillsMenus {
    display:flex;
    flex-direction: row;
  @media only screen and (max-width: 622px) {
    display: flex;
    flex-direction: column;
    align-content: felx-start;
    
  }
}
.inp {
  height: 23px;
  font-size: 12px;
  width: 90px;
  font-style: italic;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

dropdown-item a:focus {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.btnCat:hover {
  color: $lightGrayOnHover !important;
}

.btnFind {
  border-radius: 2px;
  margin-top: 7px;
  width: 42px;
  height: 22px;
  font-size: 13px;
  color: white;
  background-color: $redButton;
  border: none;
}

.btnFind:hover {
  color: $lighWhiteOnHover;
}

option {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: $fontFamily !important;
  font-size: 13px !important;
  font-weight: 300 !important;
}

select {
  margin-left: 19px;
  width: 130px;
  font-size: 13px !important;
  font-family: $fontFamily !important;
  color: $mainColor !important;
  background: none;
  border: none;
  outline: none;
}
.dd-wrapper {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.dd-header:focus {
  outline: none;
}

.dd-header_title {
  width: 134px;
  font-size: 13px !important;
}

.dd-list {
  position: absolute;
  left: 4px;
  list-style-type: none;
  background: #fff;
  max-width: 50px;
  height: 401px !important;
  overflow-y: scroll;
  min-width: 107px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  z-index: 1000;
  text-align: left;
  padding-top: 0rem;
}

.dd-list button {
  width: 117px;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 300;
  color: $mainColor;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
}

.dd-list button span {
  font-size: 13px;
  margin-right: 5px;
}

.dd-header_title {
  display: flex;
  flex-direction: row;
  position: left;
}
.dropdown-toggle{
    weight:122,58px;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin: -0.3em 0 0 0.4em;
  margin-top: -0.3em;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 3.5em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  border-top-width: 0px;
  border-right-width: 0.1em;
  border-bottom-width: 0.1em;
  border-left-width: 0px;
  transform: rotateZ(45deg);
  @media only screen and (max-width: 622px) {
      display: none;
  }
}
.btn-success {
  background-color: transparent !important;
  border-color: transparent !important;
}

.dd-header_title--bold {
  width: 120px;
  font-size: 13px;
}

.dd-header_action p {
  margin-left: -11px;
  color: $mainColor;
}

.x {
  position: relative;
  right: -97px;
  vertical-align: left;
  margin-bottom: 0rem !important;
}

.spanX {
  position: absolute;
  text-align: right;
}

.y {
  position: relative;
  right: -94px;
  vertical-align: left;
  margin-bottom: 0rem !important;
}

.spanY {
  position: absolute;
  text-align: right;
}

.clear {
  margin-top: 2px;
  margin-left: 26px;
  background-color: $bgColor;
  border: none;
}
.selection {
  font-family: $fontFamily;
  font-size: 12px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.selectionList {
  font-size: 12px;
  list-style-type: disc;
  display: block;
  margin-left: -19px;
  margin-top: 12px;
  margin-bottom: 12px;
  z-index: 1;
}
.listX {
  display: flex;
  flex-direction: row;
}

.laguages::after {
  display: none;
}
.largeFindMenu{
  @media only screen and (max-width: 537px){
    display:none;
  }
}
.smallFindMenu {
  @media only screen and (max-width: 537px){
    display: block;
  }
  @media only screen and (min-width: 537px){
    display: none;
  }
}
