.dropdown-menu {
    max-width: 50px;
    min-width: 100px;
    width: 100px !important;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    height: 35px;

}

.inp {
    height: 23px;
    font-size: 12px;
    width: 90px;
    font-style: italic;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

;

dropdown-item a:focus {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.btnCat:hover {
    color: $lightGrayOnHover !important;
}

.btnFind {
    border-radius: 2px;
    margin-top: 7px;
    width: 42px;
    height: 22px;
    font-size: 13px;
    color: white;
    background-color: $redButton;
    border: none;
}

.btnFind:hover {
    color: $lighWhiteOnHover
}

option {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: $fontFamily !important;
    font-size: 13px !important;
    font-weight: 300 !important;
}

select {
    margin-left: 23px;
    width:130px;
    font-size: 13px !important;
    font-family: $fontFamily !important;
    color: $mainColor !important;
    background: none;
    border: none;
    outline: none;
}

.dd-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.dd-header:focus {
    outline: none;
}

.dd-header_title {
    /* margin-left: 4px; */
    width: 108px;
    font-size: 13px !important;
}

.dd-list {
    position: absolute;
    left: 4px;
    list-style-type: none;
    background: #fff;
    max-width: 50px;
    height: 401px !important;
    overflow-y: scroll;
    min-width: 107px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    z-index: 1000;
    text-align: left;
    padding-top: 0rem;
}

.dd-list button {
    width: 117px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 300;
    color: $mainColor;
    background-color: transparent;
    /* padding: .25rem 0.5rem; */
    border: none;
    display: flex;
    flex-direction: row;
}

.dd-list button span {
    font-size: 13px;
    margin-right: 5px;
}

.dd-header_title {

    display: flex;
    flex-direction: row;
}

.dd-header_title--bold {
    width: auto;
    font-size: 13px;
}

.dd-header_action p {
    margin-left: -11px;
    color: $mainColor;
}

.x {
    /* padding-right: 0rem !important;
    padding-left: 0rem !important; */
    position: relative;
    right: -97px;
    vertical-align: left;
    margin-bottom: 0rem !important;
    
}

.spanX {
    position: absolute;
    text-align: right;
}

.y {
    position: relative;
    right: -83px;
    vertical-align: left;
    margin-bottom: 0rem !important;
}

.spanY {
    position: absolute;
    text-align: right;
}

.clear {
    background-color: $bgColor;
    border: none;
}
.selection {
  font-family: $fontFamily;
  font-size: 12px;
  /* text-align: left; */
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.selectionList {
  list-style-type: disc;
  display: block;
  margin-left: -19px; 
  margin-top: 12px;
  margin-bottom: 12px;
  z-index: 1;


}