@import 'variables.scss';

@media screen and (min-width:901px){
    #notfound{
        width: 80vw;
        height: 70vh;
        //  border: 2px solid blue;
        display: flex;
         justify-content: space-between;
        transform: translate(10%,20%);
        & .notfound-img{
            width: 50%;
            & .work-in{
                width: 100%;
                height: 100%;
            }
        }
        & .info{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.768rem;
            color: $mainColor;
            & h2{
                font-size: 6rem;
                font-weight: 300;
                color: $mainColor;
            line-height:1em;

            }
            & h6{
                font-size: 1rem;
                padding: 1rem;

            }
            & .go-back{
             width: 12rem; 
             margin: 4rem;  
            }
        }
       
    }
}
