@import 'variables';
          
.section{
    margin-top: 5.5rem;
    color: $mainColor;
    font-family: $fontFamily;
    // border: 2px solid red;

    & .show-category{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: .5rem;
    // transform: translate(12%,12%);
    // border: 2px solid blue;
    & span{
       font-family: $fontFamily;
    font-weight: 300;

    }
    
    }
    // & .underline{
    //     width: 80vw;
    //     border-bottom: 2px solid $mainColor;
    //     transform: translate(12%,12%);
        
    //       } 
 & .section-center {
//  border: 2px solid purple;
//  width: 100vw;
    & .user-img {
        border-radius: 50%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 250px;
        height: 250px;
        object-fit: cover;
        box-shadow:0 5px 15px rgba(0,0,0,0.4);
        transform: scale(1);
        &:hover{
            transform: scale(1.1);
        }
      }
      article h6{
          font-weight: 400;
      }
  }
                }
   @media screen and (max-width:768px){
       .section{
        // & .show-category{
        //     width: 75vw;
        //     display: flex;
        //     align-items:center;
        //     justify-content: space-between;
        //     transform: translate(12%,12%);

        //     & span, h4,h6{
        //        font-family: $fontFamily;
        //     font-weight: 300;
        //     font-size: .75rem;
        //     }
        // }
            // & .underline{
            //     width: 80vw;
            //     border-bottom: 2px solid $mainColor;
            //     transform: translate(8%,8%);
                
            //       } 
                  & .user-img{
                      width: 150px;
                      height: 150px;
                  }
                  & h4{
                      font-size: 1rem;
                  }
                    }
       }
   
//   .container-fluid{
//     padding-top: 1rem;
//    & .row{
//      border: 5px solid blue;
//      width: 80vw;
//      display: block;
//     // margin-left: .8rem;

//      .card{
//         width: 18rem;
//         margin-bottom: 0.75rem;
//         border: 2px solid blue;
//         &:hover{
//             box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.283) !important;
//         }
//     #overflow{
//     overflow: hidden;
//         & .card-img-top{
//         width: 100%;
//         height: 18vw;
//         object-fit: cover;
//         transform: scale(1);
//             &:hover{
//                 transform: scale(1.5);
//                 }
//             }
//         }
       
//         .card-body{
//             padding: 1rem 0 !important;
//             .card-text{
//                 padding: 0.4rem 1.9rem;
//                 font-size: .9rem;
//             }
            
//         }
//     }  
//                 }
//             }


